<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring MVC demo app</title>
</head>
<body>
<h1>Welcome to our app</h1>

<h2>Mamy <span th:text="${persons.size()}"></span> produktow w Skladziku 1 </h2>
<div th:switch="${persons}">
  <h2 th:case="null">Brak produktów</h2>
  <div th:case="*">
    <h2>Produkty</h2>
    <table>
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Lokacja</th>
        <th>Cena</th>
        <th>Ilosc</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="produkt : ${persons}">
        <td th:text="${produkt.nazwa}"></td>
        <td th:text="${produkt.lokacja}"></td>
        <td th:text="${produkt.cena}+zł"></td>
        <td th:text="${produkt.ilosc}"></td>
        <td><a th:href="@{/person/edit/{id}(id=${produkt.id})}">Edit </a></td>
        <td><a th:href="@{/person/delete/{id}(id=${produkt.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/person">Strona glowna</a></p>



</div>

</form>
</body>